body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px;
}

.u1 {
    position:absolute;
    left:2px;
    top:630px;
    width:993px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:997px;
    height:1276px
}

.u2_hover {
    background-image: url('../Bebidas_Categorias_files/u2_hover.png');
}

.u2_original {
    background-image: url('../Bebidas_Categorias_files/u2_original.png');
}

.u2_container {
    position:absolute;
    left:122px;
    top:210px;
    width:750px;
    height:148px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:154px;
}

.u3 {
    position:absolute;
    left:15px;
    top:15px;
    width:733px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:122px;
    top:210px;
    width:750px;
    height:148px
}

.u4_hover {
    background-image: url('../Bebidas_Categorias_files/u4_hover.png');
}

.u4_original {
    background-image: url('../Bebidas_Categorias_files/u2_original.png');
}

.u4_container {
    position:absolute;
    left:122px;
    top:366px;
    width:750px;
    height:148px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:154px;
}

.u5 {
    position:absolute;
    left:15px;
    top:15px;
    width:733px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:122px;
    top:366px;
    width:750px;
    height:148px
}

.u6_hover {
    background-image: url('../Bebidas_Categorias_files/u6_hover.png');
}

.u6_original {
    background-image: url('../Bebidas_Categorias_files/u6_original.png');
}

.u6_container {
    position:absolute;
    left:122px;
    top:522px;
    width:750px;
    height:147px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:153px;
}

.u7 {
    position:absolute;
    left:15px;
    top:15px;
    width:733px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:122px;
    top:522px;
    width:750px;
    height:147px
}

.u8_hover {
    background-image: url('../Bebidas_Categorias_files/u8_hover.png');
}

.u8_original {
    background-image: url('../Bebidas_Categorias_files/u6_original.png');
}

.u8_container {
    position:absolute;
    left:122px;
    top:678px;
    width:750px;
    height:147px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:153px;
}

.u9 {
    position:absolute;
    left:15px;
    top:15px;
    width:733px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:122px;
    top:678px;
    width:750px;
    height:147px
}

.u10_hover {
    background-image: url('../Bebidas_Categorias_files/u10_hover.png');
}

.u10_original {
    background-image: url('../Bebidas_Categorias_files/u10_original.png');
}

.u10_container {
    position:absolute;
    left:122px;
    top:834px;
    width:750px;
    height:149px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:155px;
}

.u11 {
    position:absolute;
    left:15px;
    top:15px;
    width:733px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:122px;
    top:834px;
    width:750px;
    height:149px
}

.u12_hover {
    background-image: url('../Bebidas_Categorias_files/u4_hover.png');
}

.u12_original {
    background-image: url('../Bebidas_Categorias_files/u2_original.png');
}

.u12_container {
    position:absolute;
    left:122px;
    top:992px;
    width:750px;
    height:148px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:756px;
    height:154px;
}

.u13 {
    position:absolute;
    left:15px;
    top:15px;
    width:733px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:122px;
    top:992px;
    width:750px;
    height:148px
}

.u14_original {
    background-image: url('../Bebidas_Categorias_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:532px;
    top:220px;
    width:330px;
    height:129px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:135px;
}

.u15 {
    position:absolute;
    left:2px;
    top:56px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:532px;
    top:220px;
    width:330px;
    height:129px
}

.u16_original {
    background-image: url('../Bebidas_Categorias_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:116px;
    top:128px;
    width:765px;
    height:75px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:771px;
    height:81px;
}

.u17 {
    position:absolute;
    left:2px;
    top:30px;
    width:761px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:116px;
    top:128px;
    width:765px;
    height:75px
}

.u18_original {
    background-image: url('../Bebidas_Categorias_files/u14_original.png');
}

.u18_container {
    position:absolute;
    left:534px;
    top:376px;
    width:330px;
    height:129px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:135px;
}

.u19 {
    position:absolute;
    left:2px;
    top:56px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:534px;
    top:376px;
    width:330px;
    height:129px
}

.u20_original {
    background-image: url('../Bebidas_Categorias_files/u14_original.png');
}

.u20_container {
    position:absolute;
    left:534px;
    top:531px;
    width:330px;
    height:129px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:135px;
}

.u21 {
    position:absolute;
    left:2px;
    top:56px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:534px;
    top:531px;
    width:330px;
    height:129px
}

.u22_original {
    background-image: url('../Bebidas_Categorias_files/u14_original.png');
}

.u22_container {
    position:absolute;
    left:532px;
    top:687px;
    width:330px;
    height:129px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:135px;
}

.u23 {
    position:absolute;
    left:2px;
    top:56px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:532px;
    top:687px;
    width:330px;
    height:129px
}

.u24_original {
    background-image: url('../Bebidas_Categorias_files/u14_original.png');
}

.u24_container {
    position:absolute;
    left:532px;
    top:844px;
    width:330px;
    height:129px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:135px;
}

.u25 {
    position:absolute;
    left:2px;
    top:56px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:532px;
    top:844px;
    width:330px;
    height:129px
}

.u26_original {
    background-image: url('../Bebidas_Categorias_files/u14_original.png');
}

.u26_container {
    position:absolute;
    left:532px;
    top:1002px;
    width:330px;
    height:129px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:336px;
    height:135px;
}

.u27 {
    position:absolute;
    left:2px;
    top:56px;
    width:326px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:532px;
    top:1002px;
    width:330px;
    height:129px
}

.u28_hover {
    background-image: url('../Bebidas_Categorias_files/u28_hover.png');
}

.u28_original {
    background-image: url('../Bebidas_Categorias_files/u28_original.png');
}

.u28_container {
    position:absolute;
    left:126px;
    top:138px;
    width:59px;
    height:54px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:60px;
}

.u29 {
    position:absolute;
    left:2px;
    top:11px;
    width:55px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:126px;
    top:138px;
    width:59px;
    height:54px
}

.u30_hover {
    background-image: url('../Bebidas_Categorias_files/u30_hover.png');
}

.u30_original {
    background-image: url('../Bebidas_Categorias_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:187px;
    top:138px;
    width:59px;
    height:54px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:60px;
}

.u31 {
    position:absolute;
    left:2px;
    top:11px;
    width:55px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:187px;
    top:138px;
    width:59px;
    height:54px
}

.u32_original {
    background-image: url('../Bebidas_Categorias_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:811px;
    top:138px;
    width:59px;
    height:54px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:65px;
    height:60px;
}

.u33 {
    position:absolute;
    left:2px;
    top:11px;
    width:55px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:811px;
    top:138px;
    width:59px;
    height:54px
}

.u34_hover {
    background-image: url('../Bebidas_Categorias_files/u34_hover.png');
}

.u34_original {
    background-image: url('../Bebidas_Categorias_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:298px;
    top:128px;
    width:400px;
    height:62px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:406px;
    height:68px;
}

.u35 {
    position:absolute;
    left:2px;
    top:15px;
    width:396px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:298px;
    top:128px;
    width:400px;
    height:62px
}

